<% include ./partials/header.ejs %>
<div class="banner">
	<div class="welcome">
		<h1>Next Song</h1>
		<p>Create a Spotify playlist - the easy way</p>
	</div>
</div>
<div class="mainpic">
</div>
<% include ./partials/footer.ejs %>