body {
	background-color: #5E6369;
	font-family: 'Signika', sans-serif;
}
.titlepic {
	display: block;
	margin-top: 20px;
	font-family: 'Signika', sans-serif;
}
.mainpic {
	background-image: url("http://www.smartcc365.com/data/out/29/860177.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 730px;	
	font-family: 'Signika', sans-serif;
}
.jumbotron {
	height: 150px;
}

.banner {
	height: 115px;
	background-color: lightgrey;
	font-family: 'Signika', sans-serif;
}
.welcome {
	display: table;
	margin: 0 auto;
	text-align: center;
	font-family: 'Signika', sans-serif;
}
h1 {
	font-size: 70px;
	margin-top: 0px;
	text-align: center;
	font-family: 'Signika', sans-serif;
}

h2 {
	text-align: center;
	color: white;
	font-size: 50px;
	font-family: 'Signika', sans-serif;

}

.titleRow {
	display: block;
	height: 150px;
	margin: 0 auto;
}

.col-md-6 {
	padding: 30px;
}

a {
	font-size: 16px;
}

.playlist {
	display: table;
	margin: 0 auto;
}
.clearButton {
	text-align: center;
}

.glyphicon {
	font-size: 30px;
	color: black;
}
.navbar-brand {
	padding-top: 10px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}